.time-selector {
    padding: 16px 20px;
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  
  .time-section {
    margin-bottom: 24px;
  }
  
  .time-section-title {
    font-family: Paperlogy;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-800);
    margin: 0 0 6px 0;
  }
  
  .time-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }
  
  .time-button {
    height: 38px;
    border-radius: 12px;
    border: 1px solid var(--main-500);
    background: #fff;
    color: var(--main-500);
    font-family: Paperlogy;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .time-button.disabled {
    color: var(--main-200);
    background-color: var(--main-100);
    border: 1px solid var(--main-100);
    cursor: not-allowed;
  }
  
  .time-button.selected {
    background: var(--main-500);
    color: #fff;
    border-color: var(--main-500);
  }