.home-container {
    font-family: "Paperlogy", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-50);
    display: flex;
}

/* 헤더 */
.home-header {
    min-width: 335px;
    width: 100%;
    height: 44px;
    margin-top: 44px;
}