.sorting-button {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    border: none;
    background: none;
    min-width: 120px;
    cursor: pointer;
    justify-content: flex-end;
  }
  
  .sorting-label {
    font-size: 14px;
    font-family: "Paperlogy", sans-serif;
    font-weight: 400;
    color: var(--main-800);
  }